:root{
    /**Colors*/
    --black--: #000000;
    --limerick--: #A4C400;
    --Blue-Bolt--: #00B7FF;
    --white--: #FFFFFF;
    --Green-Munsell--: #00A878;
    
    /* valor estandar de las fuentes*/
    --overall-font-size: 62.5%;
}
html {
    font-size: var(--overall-font-size);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Abril Fatface", serif;
    font-family: "Roboto", sans-serif;
}
/*Menu-Header */
.contenedor-header {
    display: flex;
    justify-content: space-between;
}
.logo-container {
    padding: 3.5rem 6rem;
}
.main-nav {
    list-style: none;
    display: flex;
    gap: 4rem;
    font-size: 1.9rem;
    padding-top: 7.5rem;
}
.enlace {
    text-decoration: none;
    color: var(--limerick--);
}
.inscribirse-enlace {
    text-decoration: none;
    background: linear-gradient(70deg, #A4C400, #00A878);
    color: var(--white--);
    border: .2rem solid #A4C400;
    padding: 1.2rem 3.7rem;
    border-radius: 2rem;
}
.acceso-enlace {
    text-decoration: none;
    color: var(--limerick--);
    border: .2rem solid #A4C400;
    padding: 1.2rem 3.7rem;
    border-radius: 2rem;
}
.botones {
    display: flex;
    padding: 7.9rem;
    gap: 2rem;
    font-size: 1.6rem;
}