
:root{
    /**Colors*/
    --black--: #000000;
    --limerick--: #A4C400;
    --Blue-Bolt--: #00B7FF;
    --white--: #FFFFFF;
    --Green-Munsell--: #00A878;
    
    /* valor estandar de las fuentes*/
    --overall-font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: var(--overall-font-size);
}

body {
    font-family: "Abril Fatface", serif;
    font-family: "Roboto", sans-serif;
}

h1 {
    color: var(--limerick--);
    font-family:"Abril Fatface", serif;
    font-size: 6rem;
}

h2 {
    font-size: 25px;
    font-family: 'Roboto';
    color: var(--limerick--);
    padding: 10px 0;
}

p {
    font-family: 'Roboto';
    color: var(--black--);
    font-size: 18px;
}

/** Menu-Header */

.contenedor-header {
    display: flex;
    justify-content: space-between;
}
.logo-container {
    padding: 3.5rem 6rem;
}

.main-nav {
    list-style: none;
    display: flex;
    gap: 4rem;
    font-size: 1.9rem;
    padding-top: 6.9rem;
}

.anchor-link {
    text-decoration: none;
    color: var(--limerick--);
}

.inscribirse-link {
    text-decoration: none;
    background: linear-gradient(70deg, #A4C400, #00A878);
    color: var(--white--);
    border: .2rem solid #A4C400;
    padding: 1.2rem 3.7rem;
    border-radius: 2rem;
}

.acceso-link {
    text-decoration: none;

    color: var(--limerick--);
    border: .2rem solid #A4C400;
    padding: 1.2rem 3.7rem;
    border-radius: 2rem;
}

.buttons {
    display: flex;
    padding: 6.9rem;
    gap: 2rem;
    font-size: 1.6rem;
}


/** Main Banner Section */

.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
}  

.container {
    padding: 132px;
}

section.main-banner-section {
    background-image: url(/images/main-banner.jpg);
    background-size: cover;  
}

p.main__banner-paragraph {
    color: var(--white--);
    font-size: 27px;
    font-family: roboto, san sans-serif;
    width: 60%;
    padding: 12px 0;
}

a.main__banner-button {
    background-image: linear-gradient(to right, var(--limerick--) 0%, var(--Green-Munsell--) 50%, var(--limerick--) 100%);
    margin: 10px 10px 10px 0;
    padding: 15px 55px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Roboto';
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #000;
    border-radius: 25px;
    display: block;
    border: 4px solid #a4c400;
    width: 350px;
}

a.main__banner-button::before {
    content: url(/images/pointer-icon.svg);
    margin-right: 10px;
}

a.main__banner-button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

img.home-icon {
    display: block;
}

  /** Excercises Section */

section.exercises-section {
    height: 485px;
}

.container.exercises {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 132px;
}

.exercises-content {
    flex-basis: 40%;
}

a.exercises-button {
    background-image: linear-gradient(to right, var(--white--) 0%, #dfdee4 50%, var(--white--) 100%);
    margin: 10px 10px 10px 0;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Roboto';
    transition: 0.5s;
    background-size: 200% auto;
    color: var(--limerick--);
    border-radius: 20px;
    display: block;
    border: 3px solid #a4c400;
    width: 200px;
}

a.exercises-button::before {
    content: url(/images/exercises-icon.svg);
    margin-right: 10px;
}

a.exercises-button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #a4c400;
    text-decoration: none;

}

  /** Meals Section */

section.meals-section {
    background-image: url(/images/meals-background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 474px;
}

.container.meals {
    display: flex;
    justify-content: end;
}

.meals-content {
    flex-basis: 40%;
}

a.meals-button {
    background-image: linear-gradient(to right, var(--white--) 0%, #dfdee4 50%, var(--white--) 100%);
    margin: 10px 10px 10px 0;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Roboto';
    transition: 0.5s;
    background-size: 200% auto;
    color: var(--limerick--);
    border-radius: 20px;
    display: block;
    border: 3px solid #a4c400;
    width: 200px;
}

a.meals-button::before {
    content: url(/images/meals-icon-button.svg);
    margin-right: 10px;
}

a.meals-button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #a4c400;
    text-decoration: none;
}
/*main-formulario*/
.text-form {
    color: var(--limerick--);
    font-size: 3rem;
    font-family: "Abril Fatface", serif;
}
.text-form2 {
    margin-bottom: 3.5rem;
    color: var(--black--);
    font-family: "Roboto", sans-serif;
}
.main-banner {
    width: 100%;
}
.form-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 1rem;
    width: 33%;
    margin: 5rem auto;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: .5rem;
    font-weight: bold;
    font-size: 1.4rem;
    align-self: baseline;
}

input, select {
    margin-bottom: 1.5rem;
    padding: 1rem;
    font-size: 1.4rem;
    border: .1rem solid #ccc;
    border-radius: 5px;
}

button {
    padding: 1rem;
    border-radius: 2rem;
    margin: 0;
    font-size: 1.6rem;
    background: linear-gradient(70deg, #A4C400, #00A878);
    color: var(--white--);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/**Footer creditos*/
.creditos {
    background-color: var(--limerick--);
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 1rem;
}

.autores {

    font-family: "Roboto", sans-serif;
    font-size: 2.2rem;
    color: var(--white--);
    padding: 2rem 0;
}

/*Pagina de Alimentacion*/


/** Meals Banner Section */

section.meals-banner-section {
    background-image: url(/images/meals-banner.jpg);
    background-size: cover;
}


.container.meals-banner {
    display: flex;
}

h1.meals-title {
    flex-basis: 50%;
}

/** Meals Days Section */

ul.meals-days {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    gap: 40px;
    flex-wrap: wrap;
}

.day-item .meals-button {
    margin: 10px auto;
}

img.img-day {
    border: 3px solid var(--limerick--);
    border-radius: 50%;
    padding: 10px;
}

h2.day {
    color: var(--black--);
    padding: 5px 0;
}

/** Exercises */

/** Exercises Banner Section */

section.exercises-banner-section {
    background-image: url(/images/exercises-banner.jpg);
    background-size: cover;  
}

.container.exercises-banner {
    display: flex;
}

h1.exercises-title {
    flex-basis: 50%;
}

/** Exercises routine Section */

ul.exercises-routine {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    gap: 40px;
    flex-wrap: wrap;
}

.exercise-item .exercises-button {
    margin: 10px auto;
}

img.img-day {
    border: 3px solid var(--limerick--);
    border-radius: 50%;
    padding: 10px;
}


.container-social-media {
    margin: auto;
    position: fixed;
    right: 0;
    top: 33rem;
    z-index: auto;
  }
  
ul.social-media {
    background-color: #000000;
    border-radius: 1rem 0 0 1rem;
    float: right;
    list-style: none; /* Remove bullet points */
    margin: 0;        /* Remove default margin */
    padding: 0;       /* Remove default padding */
    padding: 1rem;
    right: 0;         /* Align to the right edge of the container */
    text-align: center;
  }

li.social-item {
    padding: .5rem;
}
